
.dragging-element{
  background-color: transparent !important;
  border: 2px dotted yellow !important;
  width: 100px;
  height: 200px;
}

.drag-image {
  background-color: blue;
  color: white;
  padding: 8px;
}

